@media screen and (max-width: 800px) {
  body {
    font-size: 20px;
    margin: 15px;
  }

  h1 {
    font-size: 1.5em;
  }

  img {
    max-width: 100%;
  }

  figure {
    margin: 10px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1300px) {
  body {
    background-color: aquamarine;
    font-size: 25px;
    margin: 20px;
  }

  img {
    max-width: 100%;
  }

  figure {
    margin: auto;
    max-width: 35%;
    display: inline-block;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-color: palegoldenrod;
    font-size: 30px;
    margin: 30px;
    max-width: 2000px;
  }

  img {
    max-width: 100%;
  }

  figure {
    margin: 0;
  }
}